// 只有在初始化阶段才会调用此 mixin 生成 CSS 变量颜色值
@use 'sass:map';

@use '../common/var' as *;
@use '../mixin/var' as *;

@mixin set-css-var-colors() {
  @each $type in $types {
    @include set-css-var-value(
      ('color', $type),
      map.get($colors, $type, 'base')
    );

    @each $i in (3, 5, 7, 8, 9) {
      @include set-css-var-value(
        ('color', $type, 'light', $i),
        map.get($colors, $type, 'light-#{$i}')
      );
    }

    @include set-css-var-value(
      ('color', $type, 'dark-2'),
      map.get($colors, $type, 'dark-2')
    );
  }
}
