@use 'common/var' as *;
@use 'mixin/var' as *;
@use 'mixin/init' as *;

// 全局css3变量
:root {
  @include set-css-var-value('color-black', $color-black);
  @include set-css-var-value('color-white', $color-white);
  @include set-css-var-colors();

  @include set-css-var-map('fill-color', $fill-color);
  @include set-css-var-map('border-color', $border-color);
  @include set-css-var-map('bg-color', $bg-color);
  @include set-css-var-map('text-color', $text-color);

  @include set-css-var-value('border-width', $border-width);
  @include set-css-var-value('border-style', $border-style);
  @include set-css-var-map('border-radius', $border-radius);

  @include set-css-var-map('common-component-size', $common-component-size);
  @include set-css-var-map('font-size', $font-size);
}
